<div>This is the index page...</div>

<div>{{#link-to 'secret'}}Go to a protected route{{/link-to}}</div>

<div>
  {{#if session.isAuthenticated}}
    <button {{action 'invalidateSession'}}>Logout</button>
  {{else}}
    {{#link-to 'login'}}Login{{/link-to}}
  {{/if}}
</div>

<div>
  {{sessionData}}
</div>
